{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <div class="container">
    <div class="row">
      <h1>{{tag}}</h1>
      <br>
      <h1>{{comment}}</h1>
      <br>
      <br>
      <br>
      {% for d in data%}
       <div class="col-lg-8 col-md-10 mx-auto">
         <hr>
         <tr>
             <h1>Status {{d['status']}} - (1-accepted, 0-pending, -1 - declined)</h1>
           <td>{{d}} <br>
               <button class="button button1"><a href="/pdf">Update PDF</a></button>
        <button class="button button2"><a href="/link">Update link</a></button>
        <button class="button button3"><a href="/decline">Update Decline</a></button> </td>
           </tr>
         <hr>
       </div>
        <hr>
        <hr>
        <hr>
      {% endfor %}

    </div>
  </div>

{% include "footer.html" %}
{% endblock %}