{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <div class="container">
    <div class="row">
      <h1>{{tag}}</h1>
      <br>
      <h1>{{comment}}</h1>
      <br>
      <br>
      <br>
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for key, value in specs.items() %}
        <hr>
        <tr>
          <td><h1 style="color: gray;">{{key}}  </h1></td> <td><code style="font-size: 20px; font-weight: bold; color: black;"> {{value}}</code></td>
          </tr>
        <hr>
        {% endfor %}
        <h1>Images First method</h1>
        {% for value in images_f %}
            <hr>
            <tr>
              <td><h1 style="color: gray;">Image</h1></td> <td><img src="{{value}}" alt="{{value}}"></td>
              </tr>
            <hr>
        {% endfor %}
        <h1>Images second method</h1>
        {% for value in images_s %}
            <hr>
            <tr>
              <td><h1 style="color: gray;">Image - {{value['class']}}</h1></td> <td><img src="{{value['url']}}" alt="{{value['url']}}"></td>
              </tr>
            <hr>
        {% endfor %}
        {% for value in params_s %}
        <hr>
          {% for key, val in value.items() %}
            <tr>
              <td><h1 style="color: gray;">{{key}} - <code style="font-size: 20px; font-weight: bold; color: black;"> {{val}}</code></h1></td>
            </tr>
          {% endfor %}
        <hr>
        {% endfor %}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}